<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
<div class="panel" style="padding-left: 0;padding-right: 0;padding-bottom: 0;">
    <h1 class="text-center">OTBProject Web Interface</h1>

    <div class="sticky">
        <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large; is_hover: false">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="/">Home</a></h1>
                </li>
            </ul>
            <% if content_for?(:channel) %>
                <section class="top-bar-section">
                    <ul class="right">
                        <li class="has-dropdown">
                            <a href="#"><%= yield(:channel) %></a>
                            <ul class="dropdown">
                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/all">
                                        All
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/own">
                                        Broadcaster
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/own/all">
                                        Broadcaster and below
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/smd">
                                        Super-Moderator
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/smd/all">
                                        Super-Moderator and below
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/mod">
                                        Moderator
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/mod/all">
                                        Moderator and below
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/reg">
                                        Regular
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/reg/all">
                                        Regular and below
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/sub">
                                        Subscribers
                                    </a>
                                </li>
                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/sub/all">
                                        Subscriber and below
                                    </a>
                                </li>

                                <li>
                                    <a href="/dashboard/channel/<%= yield(:channel) %>/get/usr">
                                        Users
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </section>
            <% end %>


        </nav>
    </div>
</div>
<div class="row">
    <div class="small-10 small-centered columns">
        <%= yield %>
    </div>
</div>

</body>
</html>
